  .centerdiv {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .login-container {
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-group input {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border-style: none;
        border-radius: 4px;
        background-color: #00aeff1f;
        color: #fff;
        font-size: large;
    }

    .btn-login {
        width: 100px;
        padding: 10px;
        background-color: var(--secondary);
        color: #fff;
        float: right;
        border: none;
        border-radius: 800px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .btn-login:hover {
        background-color: var(--primary);
        color: black;
    }